@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-title text-violet-800;
    }

    p {
        @apply font-body text-textGray;
    }

    body {
        @apply bg-gradient-custom;
    }

    #map-container {
        height: 600px;
        width: 100%;
        @apply bg-gradient-custom;
    }
}

/* Sección separada para la personalización de FullCalendar */
.fc {
    font-family: "Montserrat", sans-serif;
}